//TOP BAR_________________________________________
.sb-topnav{//top bar size
    height: 6rem;
    padding-left: 1rem;

    .navbar-brand{//home button size
        font-size: 2rem;
        padding-left: 2rem;
    }
    
    .navbar-nav{//user button size
        padding-right: 2rem;
        font-size: 1.5rem;
    }
}

//MAIN TABLE_______________________________________
#product-list{//margin top
    margin-top: 10rem;
    
    .card-header{//table title
        font-size: 1.5rem;
        color: #007bff;
    }

    .card-body{//table including options
        padding: 2rem;
    }

    .custom-select{//select
        background: none;
    }

    table.dataTable{//table
        margin-top: 1.25rem !important;
    }
}

//LOGIN PAGE___________________________________________
h3{
    font-size: 2.5rem;
}