//header height
.sb-topnav{
    height: 6rem;
    padding-left: 1rem;

    //home button size
    .navbar-brand{
        font-size: 2rem;
        padding-left: 2rem;
    }

    //user button size
    .navbar-nav{
        padding-right: 2rem;
        font-size: 1.5rem;
    }
}

//main section margin
main{
    margin-top: 10rem;
}

//custom select
.custom-select{
    background: none;
}